<div class="flex h-full flex-col p-10">
  <div class="absolute text-white">
    <button (click)="back()">Regresar</button>
  </div>
  <app-form class="flex h-full items-center justify-center">
    <p class="font-ligh pb-3 text-2xl">{{ product.title }}</p>

    <div class="grid grid-cols-1 divide-y">
      <p class="m-0 pb-4">
        {{ product.description }}
      </p>
      <div class="pb-4"></div>
    </div>
    <app-box>
      <div class="flex justify-center">
        <p>Informacion del producto</p>
      </div>
      <div>
        <p class="flex">
          <span class="pr-3 font-bold"> Category:</span>{{ product.category }}
        </p>
        <p class="flex">
          <span class="pr-3 font-bold"> Price:</span>{{ product.price }}
        </p>
        <p class="flex">
          <span class="pr-3 font-bold"> Discount:</span
          >{{ product.discountPercentage }}
        </p>
        <p class="flex">
          <span class="pr-3 font-bold"> Rating:</span>{{ product.rating }}
        </p>
        <p class="flex">
          <span class="pr-3 font-bold"> Stock:</span>{{ product.stock }}
        </p>
        <p class="flex">
          <span class="pr-3 font-bold"> Brand:</span>{{ product.brand }}
        </p>
        <p class="flex">
          <span class="pr-3 font-bold"> Sku:</span>{{ product.sku }}
        </p>
        <p class="flex">
          <span class="pr-3 font-bold"> Weight:</span>{{ product.weight }}
        </p>
      </div>

      <div class="grid grid-cols-1 divide-y">
        <p class="flex justify-between font-semibold">
          <span>{{ product.warrantyInformation }}</span>
          <span>{{ product.shippingInformation }}</span>
          <span>{{ product.availabilityStatus }}</span>
        </p>
        <div class="pb-4"></div>
      </div>
      <p class="flex">
        <span
          *ngFor="let tag of product.tags"
          class="mr-2 rounded-3xl bg-container p-2"
          >{{ tag }}</span
        >
      </p>
    </app-box>

    <div class="grid grid-cols-1 divide-y">
      <div class="pb-5"></div>
      <p class="m-0 p-5">
        <span class="pr-2 font-bold">returnPolicy :</span
        >{{ product.returnPolicy }}
      </p>
    </div>
  </app-form>
</div>
