<div class="flex h-full flex-col p-10">
  <div class="text-white"><button>Regresar</button></div>
  <app-form class="flex h-full items-center justify-center">
    <p class="font-ligh pb-3 text-2xl">Titulo Dato</p>

    <div class="grid grid-cols-1 divide-y">
      <p class="m-0 pb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate porro
        in laudantium voluptates veritatis magnam doloremque cumque tempore sed
        molestias ducimus, illo quibusdam sapiente quae eveniet quam iste nulla!
        Sint?
      </p>
      <div class="pb-4"></div>
    </div>
    <app-box>
      <div class="flex justify-center">
        <p>Algun dato en particular</p>
      </div>
      <div>
        <p>Lorem ipsum</p>
      </div>

      <div class="grid grid-cols-1 divide-y">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          porro in laudantium voluptates
        </p>
        <div class="pb-4"></div>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </app-box>
    <p>Lorem ipsum dolor sit.</p>
    <div class="grid grid-cols-1 divide-y">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="pb-4"></div>
    </div>
    <app-box>
      <p>Lorem ipsum dolor sit.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </app-box>
  </app-form>
</div>
