<div class="flex h-full flex-row items-center justify-center text-white">
  <span
    class="grow-1 mt-14 flex shrink-0 basis-[50%] flex-col flex-wrap content-end self-start p-10 text-left"
  >
    <h1>
      SISTEMA DE GESTIÓN <br />
      DE PRODUCTOS
    </h1>
    <h2>
      SISTEMA DE GESTION <br />
      DE PRODUCTOS
    </h2>
    <P
      >Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br />
      Aliquam, ducimus. Provident mollitia et facere, dolores, <br />
      inventore beatae temporibus voluptatibus excepturi dignissimos,
      <br />totam numquam! Sapiente eos tenetur iusto, ea placeat inventore?</P
    >
  </span>
  <span class="grow-1 shrink-0 basis-[50%] p-10">
    <img
      [src]="rutaImagen"
      class="relative left-[18px] w-[60vh]"
      alt="Descripción de la imagen"
    />
  </span>
</div>
