<div class="m-5 bg-container">
  <app-logo></app-logo>
</div>
<li class="sticky top-20 mt-20 pl-14 text-lg leading-[3rem]">
  <ul *ngFor="let item of menuItems; index as i">
    <a>
      <span
        class="relative mb-3 inline-block before:absolute before:-inset-1 before:block before:-skew-y-3 before:bg-pink-500"
      >
        <a
          class="relative text-white"
          [routerLink]="[item.label.toLowerCase()]"
        >
          {{ item.label }}</a
        >
      </span>
    </a>
  </ul>
</li>
